<html>
  <head>
    <title>Nordiclines Order Portal</title>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.6.1/less.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  </head>
  <body>
    <table class="table table-bordered table-striped small">
      <thead>
        <tr>
          <th></th>
          <th>Group Number</th>
          <th>Group Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Departure</th>
          <th>Destination</th>
          <th>Route</th>
          <th>Number of persons</th>
          <th>Flight Info</th>
          <th>Guide</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="schlechtman_details.html">Edit</a></td>
          <td contenteditable="true">16-0550</td>
          <td contenteditable="true">Schlechman</td>
          <td contenteditable="true">07.07.2016</td>
          <td contenteditable="true">8:00</td>
          <td contenteditable="true">Arlanda</td>
          <td contenteditable="true">Hotel Victory</td>
          <td contenteditable="true">Transfer</td>
          <td contenteditable="true">2+child(3 years old)</td>
          <td contenteditable="true">LH7492, Frankfurt</td>
          <td contenteditable="true"></td>
        </tr>
        <tr>
          <td><a href="schlechtman_larsson.html">Edit</a></td>
          <td contenteditable="true">16-0546</td>
          <td contenteditable="true">Larsson</td>
          <td contenteditable="true">07.07.2016</td>
          <td contenteditable="true">11:00</td>
          <td contenteditable="true">Arlanda</td>
          <td contenteditable="true">Hotel Lydmar</td>
          <td contenteditable="true">Drotningholm Castle (4 hours)</td>
          <td contenteditable="true">12+guide</td>
          <td contenteditable="true"></td>
          <td contenteditable="true">Gionni, +46 762 123 00 22</td>
        </tr>
        <tr>
          <td><a href="schlechtman_details.html">Edit</a></td>
          <td contenteditable="true">16-0550</td>
          <td contenteditable="true">Schlechman</td>
          <td contenteditable="true">08.07.2016</td>
          <td contenteditable="true">10:00</td>
          <td contenteditable="true">Hotel Victory</td>
          <td contenteditable="true">Hotel Victory</td>
          <td contenteditable="true">1/2 Day City Tour</td>
          <td contenteditable="true">2</td>
          <td contenteditable="true"></td>
          <td contenteditable="true">Gionni, +46 762 123 00 22</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>